/*
    Styling for the Leaderboard component that includes
    hover effcts and alternating row colors
*/

.leaderboard {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.leaderboard h1 {
    margin-bottom: 20px;
    color: black;
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.leaderboard thead {
    background-color: #4CAF50 ;
}

.header-left {
    border-top-left-radius: 8px;
    color: white;
    padding: 10px;
}

.header-right {
    border-top-right-radius: 8px;
    color: white;
    padding: 10px;
}

.leaderboard th{
    color: white;
    padding: 10px;
}

.leaderboard td {
    border: 1px solid #ddd;
    padding: 10px;
    color: #333;
}

.leaderboard tr:nth-child(even) {
    background-color: #f2f2f2;
}

.leaderboard tr:hover {
    background-color: #ddd;
}

.leaderboard td:first-child {
    font-weight: bold;
}

.leaderboard td:nth-child(2),
.leaderboard td:nth-child(3) {
    text-align: left;
}
